html {
    font-size: 14px;
    font-family: 'Stylish', sans-serif;
}
.video section video {
    left: 0;
    top: 0;
    z-index: -30;
}

.title {
    font-size: 9.5rem;
    font-weight: bold;
    position: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1.9em;
    left: 0;
    top: 500px;
    opacity: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;

}

footer {
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 100%;

    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    color: palevioletred;
}

.global-nav {
    position: absolute;

    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
}

.global-nav-links {
    display: flex;
    align-items: center;
    justify-content: right;

    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

.global-nav-link {
    margin-left: 2em;
}

/* 아래부터 blur처리 영역 그대로 긁어와서 global로 수정함 */

#show-section0 .sticky-element {
    display: block;
    /* sticky-element는 원래 안 보이지만 
    #show-section0에 있는 sticky-element는 보이게 함 */

}

.global-nav-sticky > .global-nav {
    position : fixed;
    /* normal-flow 안 지키게 되니까 위치값 넣어줌 */
    left : 0;
    top : 0;
    /* top값 지정 안 해주면 global-nav의 height에서 붙음 */

    /* global-nav에서 width, height가 cascading되어 값이 내려오기 때문에
    굳이 안 정해줌 */
    border-bottom: 1px solid gray;

    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
    /* apple사이트에서 따온 blur처리 코드 */

}

/* global-nav-sticky의 반경에 들어왔을 때 global-nav-links의 border-bottom 없애줌 */
/* 겹치지 않게! */
.global-nav-sticky .global-nav-links {
    border-bottom: none;
}




