html {
    font-size: 14px;
    font-family: 'Stylish', sans-serif;
}

body {
    overflow-x: hidden; /* 수평스크롤 없애기 */
    letter-spacing: -0.05rem; /*0.05rem만큼(5%만큼) 글자폭 줄이기 */
    /* 1rem = 제일 상위 폰트의 1개  */

}

#section-0 video {
    left: 0;
    top: 0;
    z-index: -30;

    border: 1px solid blue;
}


.title {
    font-size: 9.5rem;
    font-weight: bold;
    color: rgb(40, 14, 14);
    position: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1.8em;
    left: 0;
    top: 500px;
    opacity: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;

}

footer {
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 100%;

    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    color: palevioletred;
}

.global-nav {
    position: absolute;

    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
}

.global-nav-links {
    display: flex;
    align-items: center;
    justify-content: right;

    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

.global-nav-link {
    margin-left: 2em;
}


.Vegan-level {
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}

.level {
    font-size: 3rem;
}

/* 아래부터 blur처리 영역 그대로 긁어와서 global로 수정함 */

#show-section0 .sticky-element {
    display: block;
    /* sticky-element는 원래 안 보이지만 
    #show-section0에 있는 sticky-element는 보이게 함 */

}

.section1-recipe > p {
    font-size : 2.75rem;

}

.global-nav-sticky > .global-nav {
    position : fixed;
    /* normal-flow 안 지키게 되니까 위치값 넣어줌 */
    left : 0;
    top : 0;
    /* top값 지정 안 해주면 global-nav의 height에서 붙음 */

    /* global-nav에서 width, height가 cascading되어 값이 내려오기 때문에
    굳이 안 정해줌 */
    border-bottom: 1px solid gray;

    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
    /* apple사이트에서 따온 blur처리 코드 */

}

/* global-nav-sticky의 반경에 들어왔을 때 global-nav-links의 border-bottom 없애줌 */
/* 겹치지 않게! */
.global-nav-sticky .global-nav-links {
    border-bottom: none;
}




